{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Venta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
</head>
<body>
        {% include 'navbar.html' %}
      
        <div class="container mt-3">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h1>Detalle Venta</h1>
                </div>
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th scope="row">Producto</th>
                        <td>{{ producto.descripcion }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Precio Unitario</th>
                        <td>${{ producto.precio_unitario_venta }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Cantidad Vendida</th>
                        <td>{{ detalle_venta.cant_prod_vendido }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Subtotal</th>
                        <td>${{ detalle_venta.subtotal }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Fecha Venta</th>
                        <td>{{ ventas.fecha_venta|date:"d/m/Y" }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Descripción Venta</th>
                        <td>{{ ventas.descripcion_venta_realizada }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Factura N°</th>
                        <td>{{ factura.id_factura }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Total</th>
                        <td>${{ factura.total }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Descuento</th>
                        <td>${{ factura.descuento }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Método Pago</th>
                        <td>{{ factura.metodo_pago }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
  
</body>