* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf2f8;
  background-image: 
      linear-gradient(45deg, #fbcfe8 25%, transparent 25%),
      linear-gradient(-45deg, #fbcfe8 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #fbcfe8 75%),
      linear-gradient(-45deg, transparent 75%, #fbcfe8 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  min-height: 100vh;
}
.container-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.title-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 70%;
}

#search-input {
  flex: 2;
  min-width: 500px;
  max-width: 100%;
}

#search-btn,
.btn-warning {
  flex-shrink: 0;
}

.dataTables_filter.d-flex {
  align-items: center;
  margin-bottom: 1rem;
}

.dataTables_filter select.form-control {
  width: auto;
  min-width: 150px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

#filter-select {
  flex: 2;
  min-width: 200px;
}

.btn-info {
  flex-shrink: 0;
}

.btn {
  font-size: 0.9rem;
  padding: 5px 10px;
}

.table th, .table td {
  font-size: 0.9rem;
  padding: 8px;
}

.pagination-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 10px 15px;
  color: #007bff;
}

.page-link:hover {
  background-color: #f8f9fa;
  border-radius: 4px;
}

.bg-danger {
  background-color: #f3858e !important;
}

.bg-warning {
  background-color: #f8de88 !important;
}

.btn-danger[title],
.btn-warning[title] {
  cursor: pointer;
}
