{% if user.is_authenticated %}
{% block sidebar %}
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="https://github.com/JuncoAriel/img/blob/main/2.png?raw=true" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      Ely Baby
    </a>
  </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel" style="width: 250px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">
      <img src="https://github.com/JuncoAriel/img/blob/main/2.png?raw=true" alt="Logo" width="30" height="30" class="me-2">
      Ely Baby
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body p-0">
    <div class="d-flex flex-column h-100">
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a href="{% url 'user' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-user"></i>    
            Perfil
          </a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a href="{% url 'userlist' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-users"></i>
            Lista de usuarios
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'inventario' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-boxes"></i>
            Stock
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'caja' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-cash-register"></i>
            Caja
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ventas' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-shopping-cart"></i>
            Ventas
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'graficos' %}" class="nav-link text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
              <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
            </svg>
            Graficos
          </a>
        </li>
      </ul>
      
      <div class="mt-auto">
        <hr>
        <a href="{% url 'exit' %}" class="nav-link text-white">
          <i class="fa-solid fa-chart-line"></i>
          Cerrar sesión
        </a>
      </div>
    </div>
  </div>
</div>

<main class="content-wrapper" style="margin-top: 60px; padding-left: 0;">
  <div class="container-fluid pt-4">
    {% block content %}
    {% endblock %}
  </div>
</main>
{% endblock sidebar %}
{% endif %}
