{% if user.is_authenticated %}
{% block sidebar %}
<aside class="main-sidebar " style="margin-left: 206; padding: 0; position: fixed; top: 0; left: 0; height: 100vh;">
  
    <h1 class="visually-hidden">Barra lateral</h1>
  
    <div class="d-flex flex-column p-3 text-bg-dark" style="width: 206px; height:100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="https://github.com/JuncoAriel/img/blob/main/2.png?raw=true" alt="Logo" width="40" height="40" class="me-2">
        <span class="fs-4">Ely Baby</span>
      </a>
      <hr>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">
        <li class="nav-item">
          <a href="{% url 'user' %}" class="nav-link text-white" >
            <i class="nav-icon fas fa-solid fa-user"></i>    
            Perfil
          </a>
        </li>
        {% if request.user.is_superuser %}
        <li>
          <a href="{% url 'userlist' %}" class="nav-link text-white"> <!-- {% url 'signup' %} -->
            <i class="nav-icon fas fa-solid fa-users"></i>
            Lista de usuarios
          </a>
        </li>
        {% endif %}
        <li>
          <a href="#" class="nav-link text-white">
            <i class="nav-icon fas fa-solid fa-cash-register"></i>
            Caja
          </a>
        </li>
        <li>
          <a href="{% url 'inventario' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-boxes"></i>
            Stock
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="nav-icon fas fa-solid fa-file-invoice"></i>
            Facturas
          </a>
        </li>
      </ul>
      <hr>
      
      <div class="dropdown" style="margin-top: auto;">
        <a href="{% url 'exit' %}" class="nav-link text-white">
          <i class="nav-icon fas fa-solid fa-right-from-bracket"></i>
          Cerrar sesion
        </a>
      </div>
      
    </div>
  
    
    <!-- Contenido de la pagina -->
    <section class="content">
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </section>
    <!-- /.contenido -->
  </div>

</aside>
{% endblock sidebar %}
{% endif %}