{% autoescape off %}
Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en Ely Baby.

Haz clic en el siguiente enlace para elegir una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}

Si no solicitaste este cambio, puedes ignorar este correo electrónico.

¡Gracias por usar nuestro sitio!

El equipo de Ely Baby
{% endautoescape %}
