{% extends 'base.html' %}
{% block content %}
<style>
    body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf2f8;
  background-image: 
      linear-gradient(45deg, #fbcfe8 25%, transparent 25%),
      linear-gradient(-45deg, #fbcfe8 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #fbcfe8 75%),
      linear-gradient(-45deg, transparent 75%, #fbcfe8 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  min-height: 100vh;
}

.btn-primary {
    background-color: #A3E4DB !important; /* Color base del botón */
    border-color: #89D9CE !important;
    outline: none !important;
}

.btn-primary:hover {
    background-color: #65B7A8 !important;
    border-color: #4D9D91 !important;
    color: #000 !important;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #65B7A8 !important;
    border-color: #4D9D91 !important;
    color: #000 !important;
    outline: none !important;
    box-shadow: none !important;
}


    .form-control:focus {
        border-color: #65B7A8; /* Color de borde cuando el campo está enfocado */
        box-shadow: 0 0 5px rgba(101, 183, 168, 0.8); /* Sombra verde cuando está enfocado */
    }
</style>
<main class="container">
    <section class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-12 col-sm-10 md-8 col-lg-6 col-xl-4">
            <div class="card card-body shadow">
                <h2 class="text-center mb-3">Contraseña Actualizada</h2>
                <div class="alert alert-success">
                    Tu contraseña ha sido actualizada correctamente.
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'signin' %}" class="btn btn-primary">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}