{% extends 'base.html' %}
{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #fdf2f8;
        background-image: 
            linear-gradient(45deg, #fbcfe8 25%, transparent 25%),
            linear-gradient(-45deg, #fbcfe8 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #fbcfe8 75%),
            linear-gradient(-45deg, transparent 75%, #fbcfe8 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        min-height: 100vh;
    }

    .card {
        background-color: #ffffff; /* Fondo de la tarjeta */
        border-radius: 15px;
        border: none; /* Eliminar bordes visibles */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        padding: 20px;
        text-align: center;
    }

    .card h2 {
        font-size: 1.75rem;
        font-weight: 700;
        color: #4D4D4D; /* Color del título */
        margin-bottom: 20px;
    }

    .card p {
        font-size: 1rem;
        color: #4D4D4D; /* Texto */
        line-height: 1.5;
        margin-bottom: 10px;
    }

    

    .card a {
        color: #65B7A8; /* Color de enlaces */
        text-decoration: none;
        font-weight: 500;
    }

    .card a:hover {
        text-decoration: underline;
        color: #4D9D91;
    }

    /* Ajustar tamaños para pantallas pequeñas */
    @media (max-width: 768px) {
        .card img {
            max-width: 50%; /* Imagen más pequeña en pantallas pequeñas */
        }
    }
</style>
<main class="container">
    <section class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card">
                <div class="text-center mb-3">
                    <!-- Ícono incluido -->
                    <img src="https://github.com/JuncoAriel/img/blob/main/2.png?raw=true" alt="Correo enviado" class="img-fluid" style="height: auto; max-width: 40%;">
                </div>
                <h2>Correo Enviado</h2>
                <p>
                    Te hemos enviado instrucciones por correo electrónico para restablecer tu contraseña. 
                    Deberías recibirlas en breve.
                </p>
                <p>
                    Si no recibes un correo, por favor asegúrate de haber introducido la dirección con la que te registraste y revisa tu carpeta de spam.
                </p>
                <a href="{% url 'signin' %}">Volver al inicio</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
