{% extends 'base.html' %}
{% load static %}

{% block content %}


    
    <div class="row justify-content-center">
        <section class="col-md-8 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Signup</h1>
                {{ error }}
                {% csrf_token %}
                <hr>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese nombre">
                    </div>
    
                    <div class="col-md-6 mb-3">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese apellido">
                    </div>
    
                    <div class="col-md-6 mb-3">
                        <label for="correo">Email:</label>
                        <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese correo electronico">
                    </div>
    
                    <div class="col-md-6 mb-3">
                        <label for="usuario">Usuario:</label>
                        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingrese nombre de usuario">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="password1">Contraseña:</label>
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Ingrese contraseña">
                    </div>
    
                    <div class="col-md-6 mb-3">
                        <label for="password2">Confirme contraseña:</label>
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirme contraseña">
                    </div>
    
                    <div class="col-md-6 mb-3">
                        <label for="telefono">Telefono:</label>
                        <input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Ingrese numero de telefono">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="user_type">Tipo de Usuario:</label>
                        <select name="user_type" id="user_type" class="form-control">
                            <option value="basic">Vendedor</option> 
                            <option value="admin">Administrador</option> 
                        </select>
                    </div>

                </div>
                
                <button class="btn btn-primary style="width: 100px;  height: 50px;">
                    Signup
                </button>

            </form>
        </section>
    </div>

{% endblock content %}
