{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}


<div class="content container-fluid position-relative" style="margin-left: 106px; margin-top: 1rem;">
    <div class="row justify-content-center"> 
        <div class="col-lg-8 col-md-10 col-sm-12"> 
            <div class="card card-body mb-5"> 
                <h1 class="text-center">Agregar Usuario</h1>
                <form method="POST" action="{% url 'signup' %}">
                    {{ error }}
                    {% csrf_token %}
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese nombre" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="apellido">Apellido:</label>
                            <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese apellido" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="correo">Email:</label>
                            <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese correo electronico" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="usuario">Usuario:</label>
                            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingrese nombre de usuario" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password1">Contraseña:</label>
                            <input type="password" name="password1" id="password1" class="form-control" placeholder="Ingrese contraseña" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="password2">Confirme contraseña:</label>
                            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirme contraseña" required>
                        </div>

                

                        <div class="col-md-6 mb-3">
                            <label for="user_type">Tipo de Usuario:</label>
                            <select name="user_type" id="user_type" class="form-control" required>
                                <option value="basic">Vendedor</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 100px; height: 50px;">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
