{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="content" style=" margin-left: 206px;  margin-top: 1;">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h3 class="text-center"><i class="fas fa-users me-2"></i>Lista de usuarios</h3>
                    <br>
                    <div class="card card-body" style="overflow:visible">
                        <br>
                        <table class="table table-striped table-bordered" id="userTable">
                            <thead class="table-dark">
                                <tr>
                                    <th># ID</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>
                                        <button onclick="" class="btn btn-dark-outline btn-sm" data-toggle="modal" href="">
                                            <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>

                                        </button>
                                        <a href="" class="btn btn-dark-outline btn-sm">
                                            <i class="fa-solid fa-trash" style="color: #000000;"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="col-md-3 pb-2">
                        
                        <a href="{% url 'signup' %}" class="btn btn-secondary mb-3">
                            Agregar Usuario
                            <i class="fas fa-plus-circle"></i>
                        </a>
                        
                        
                    </div>
                </div>
            </div>
        </div>
         
    </section>
</div>


{% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error...',
            text: "{{ message }}",
        })
    </script>
    {% endfor %}
{% endif %}
{% endblock content %}
{% block javascript %}
<script src="static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock javascript %}
