
body {
    padding: 10px;
    background-color: #A0B0AF;
}

.container-box {
    background-color: white;
<<<<<<< HEAD
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
=======
    border: 3px solid #979595;
    padding: 20px;
    border-radius: 10px;
>>>>>>> afe2c0df60800fffe0bbe8016e12ce4de7a1958a
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.title-box {
  background-color: white;
<<<<<<< HEAD
  border: 1px solid #ccc;
=======
  border: 2px solid #949090;
>>>>>>> afe2c0df60800fffe0bbe8016e12ce4de7a1958a
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

.title-box h1 {
    margin: 0;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.options-box {
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 15px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}